body{
    background-color: rgba(74, 202, 39, 0.238);
}

.form{
    border: 2px;
    align-content:flex-start;
    text-align: left;
}
.register{
    border: 10px;
    background-color: rgba(167, 143, 164, 0.737);
    border: 1px solid rgb(43, 152, 87);
    text-align: left;
    font-size: 15px;
    border-radius: 15px;
    
}
.save{
    border: 2px;
    color: blue;
    background-color: chartreuse;

}
.header{
    align-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font: bold;
    text-align: center;
   font-size:xx-large;
    
}
.save{
    border-color: blueviolet;
    background-color: aquamarine;
    flex-wrap: wrap;
}
