.nav{
background-color: rgb(155, 186, 161);
font: 500;
font-size:xx-large;
font-family: sans-serif;
color: rgb(32, 0, 128);
text-decoration-color: blueviolet;
border: 1px solid rgb(166, 33, 121);
text-align: center;
height: 50px;
}